log
apis.txt
*.pyc
**/__pycache__
**/data/model
LLMGraph/utils/model
__pycache__/
revision.md
LLMGraph/optimizer/logs
LLMGraph/optimizer/logs_fairness
LLMGraph/llms/api.json
test
chromedriver
logs

runs
netcraft_gnn/*

# extending GitHub's file size limit of 100.00 MB
LLMGraph/tasks/tweets/configs/llama_test_1e6/*
LLMGraph/tasks/citeseer/configs/fast_vllm/*
LLMGraph/tasks/movielens/configs/test_movie_up/*